---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const contact: Array<FeatureItem> = [
  {
    title: "Address",
    description:
      "1441 Brickell Ave - Suite 1018 - Miami, FL (33131)",
    icon: "mdi:location",
  },
  {
    title: "Phone",
    description:
      "(305) 424-8278",
    icon: "mdi:phone",
  },
  {
    title: "e-mail",
    description:
      "info@goodneys.com",
    icon: "mdi:mail-outline",
  },

];
---

<ContentSection title="Contact us" id="contact">
  <!-- <Fragment slot="lead">
    End-to-End Excellence: From <span class="text-primary"> B2C </span> to <span class="text-primary"> B2B </span>. 
    We Navigate the Entire Product Journey. 
    Our comprehensive services span from 
    concept and <span class="text-primary">development</span> to <span class="text-primary">strategic marketing</span>
    and successful <span class="text-primary">commercialization</span> across diverse online marketplaces. 
  </Fragment> -->
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      contact.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>